

<div class="row" style="height:50px;">

</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Projekat DonacijeDapp</strong>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        Decentralizovana aplikacija za prikupljanje donacija na Ethereum platformi je open surce i kod aplikacija možete pogledati na sledećem linku
                        <a href="https://github.com/DaniloMikovic/DonationDapp">Github/DaniloMikovic</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

