@model List<CampaignModel>;
@{
    ViewData["Title"] = "Donacije";
}
<div class="row" style="height:50px"></div>
<div class="row">
    <div class="col-md-6">
        <select id="campaingValue" asp-items="@(new SelectList(Model,"Address","Name"))" class="form-control" onchange="getCampaignInfo()">
            <option value="">Izaberi kampanju...</option>
            @*obrisiiiiiiiiiiiiiiiiiiiiiiiiiiii*@
            <option value="0xBf8cE70289Ce310a3c5ad7a056fD0d24650877e1">test</option>
            <option value="0xBf8cE70289Ce310a3c5ad7a056fD0d24650877e1">test111111111</option>
        </select>
    </div>
</div>
<div class="row">
    <div id="donationInfoContainer" class="col-md-6" style="margin-top:50px;">

    </div>
</div>

<script>
    function getCampaignInfo(){
        var campaignAddress = $("#campaingValue").val();

        $.get('@Url.Action("GetCampaignInfo","Info")', { address: campaignAddress }, function (response) { 
            $("#donationInfoContainer").text = "";
            $("#donationInfoContainer").html(response);
        })
    }
</script>




